[Unit]
Description=traffic-player2
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/pi/traffic-player
ExecStart=/home/pi/traffic-player/run-player.sh -q 192.168.0.10 -p 2 -d 1
Restart=always

[Install]
WantedBy=default.target
